html {
    background: url("mc.png") no-repeat center fixed lightcyan;
}
h1 {
    color: indigo;
}
h2 {
    color: darkred;
}
h3 {
    color: midnightblue;
}
li a {
    color: green;
}
input[type=submit] {
  background-color: darkturquoise;
  color: black;
}