{% extends 'mac/base.html' %}
{% block title %} {% endblock title %}
{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'mac/style.css' %}">
{% endblock css_additional %}
{% block content %}
    <form action="{% url 'mac:dish_delete' dish.id %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <h3>Are you sure? </h3>
            <input type="submit" value="Confirm">
        </fieldset>
    </form>
    <a href="{% url 'mac:dish_list' %}">Return to Dish list</a>
    {% include 'mac/return_index.html' %}
{% endblock content %}