{% extends 'mac/base.html' %}
{% block title %} {% endblock title %}
{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'mac/style.css' %}">
{% endblock css_additional %}
{% block content %}
    <form action="{% url 'mac:dish_update' dish.id %}" method="POST">
        {% csrf_token %}
        <fieldset>
            <legend><h3>Update Dish: </h3></legend>
            {{ form.as_p }}
            <input type="submit" value="Update dish">
        </fieldset>
    </form>
    {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
    <a href="{% url 'mac:dish_list' %}">Return to Dish list</a>
    {% include 'mac/return_index.html' %}
{% endblock content %}