{% extends 'mac/base.html' %}
{% block title %} {% endblock title %}
{% load static %}
{% block css_additional %}
    <link rel="stylesheet" href="{% static 'mac/style.css' %}">
{% endblock css_additional %}
{% block content %}
    <form action="{% url 'mac:restaurant_detail' restaurant.id %}" method="GET">
        {% csrf_token %}
        <fieldset>
            <legend><h2>Restaurant Information: </h2></legend>
            <h3>{{ restaurant }}</h3>
            {{ restaurant.area }}
            {% for i in restaurant.dish_set.all %}
                <li>{{ i }}, products: {{ i.product_all }}</li>
            {% endfor %}

            <br>
            <br>
        </fieldset>
    </form>
    <a href="{% url 'mac:restaurant_list' %}">Return to Restaurant list</a>
    {% include 'mac/return_index.html' %}
{% endblock content %}